<form class="quote-form" (ngSubmit)="submitQuote()">

    <br>

    <div class="form-group">
        <label for="name"><strong>Name:</strong></label>
        <input type="text" name="publisher" class="form-control" 
            [(ngModel)]="quotePublisher" placeholder="Type Your Name Here">
    </div>

    <div class="form-group">
        <label for="quotes"><strong>Quote:</strong></label>
        <input type="text" name="quote" class="form-control" [(ngModel)]="quoteStr"
            placeholder="Type Your Quote Here">
    </div>

    <div class="form-group">
        <label for="author"><strong>Author:</strong></label>
        <input type="text" name="author" class="form-control" [(ngModel)]="quoteAuthor"
            placeholder="Type Name of the Author Here">
    </div>

    <button type="submit" class="btn btn-primary btn-post">Submit A Quote</button>
    <div class="social-link-icons">
        <a class="icon_link" href="#facebook">facebook</a>
        <a class="icon_link"  href="#twitter"> twitter</a>
        <a class="icon_link"  href="#linkedin">Linkedin</a>
        <a class="icon_link"  href="#instagram">instagram</a>
    </div>
</form>