@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
body{
  font-family: 'Londrina Outline', cursive;
}


.quote-form{
    width: 100%;
}

.form-group{
    width: 50%;
    text-align: justify;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    text-align: center;
    margin-left: 325px;
    
}

