
.myList{
    flex-direction: column;
    text-align: justify;
}

ul{
    background-color: #172A3A;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.myList li{
    display: block;
    list-style: none;
    text-decoration: none;
    
}

.green{
    color: #457052;
}

.red{
    color: #FF5666;
}
