
  <div class="container-fluid" >
    <h1>QUOTES</h1>
  </div>

    <app-form (emitQuote)="addQuote($event)"></app-form>

  <div class="container">
      <div>
        <hr>
        <div  class="myQuote" *ngFor="let quote of quotes; let i=index">
          <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
          <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
          
            <app-detail [quote]="quote" ></app-detail>
          
          <div class="buttons">
            <button class="btn btn-success" (click)="upvote(i)">Upvote</button>
            <button class="btn btn-info" (click)="downvote(i)">Downvote</button>
            <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>
          </div>
          <hr>

        </div>
    </div>
  </div>
