<div class="container-fluid">
  <h1>The QUOTES APP</h1>
  <p class="welcome">Welcome to inspirational World.</p><br>
  <p class="welcome-quote">Be inspired before you expire.</p>
  <p class="app-description">This is a web based application where you can post your 
    favorate quote and others can either upvote or downvote  your quote.</p>
  <p class="welcome-brief">Get inspred as you inspire others.</p>
</div>
<div class="app-form">
  <app-form (emitQuote)="addQuote($event)"></app-form>
</div>
<div class="container">
    <hr>
    <div *ngFor="let quote of quotes; let i=index">
      <p class="p1" appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p><br>
      <p class="p1"  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
      <div class="app-detail">
        <app-detail [quote]="quote"></app-detail>
      </div>
      <div class="buttons">
        <button class="btn btn-success" (click)="upvote(i)">Upvote</button>
        <button class="btn btn-info" (click)="downvote(i)">Downvote</button>
        <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>
      </div>
      <hr>
    </div>
</div>