@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

  .container-fluid{
    text-align: center;
    background-color: #070a1dd5;
    color: #fff;
  }
  .header{
    padding: 20px;
  }
  .welcome{
    font-size: 20px;
  }
  .welcome-quote{
    font-size: 20px;
    padding: 20px 0px 20px 0px;
  }

  .app-description{
    font-size: 20px;

  }
  .welcome-brief{
    font-size: 20px;
  }

  .btn{
    margin-right: 10px;
    outline: none !important;
    border: none !important;
  }

.buttons{
  text-align: center;
  float: left;
}

.app-form{
  float: right;
  width: 40%;
  margin-right: 30px;
  margin-top: 35px;
}

.p1{
  width: 50%;
  margin: 10px 0px 5px 0px;
  text-align: justify;
}

.app-detail{
  margin: 10px 0px 5px 0px;
  text-align: justify;
  width: 40%;
}

/* media quries */
@media screen and (max-width:375px){
  .app-form{
    width: 100%;
  }
  .p1{
    width: 100%;
    flex: 1;
  }
  .app-detail{
    width: 100%;
  }
}