@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background: url('./assets/images/bg-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFCCC9;
    font-family: 'Righteous', cursive;
}
